In [1]:
import pandas as pd

In [2]:
integrantes={
    "Nombre":["Jaime","Dilan","Irvin","Brenda"],
    "Edades":[62,29,33,30]
}

In [3]:
df=pd.DataFrame(integrantes)
df

   Nombre  Edades
0   Jaime      62
1   Dilan      29
2   Irvin      33
3  Brenda      30